.favoritesContainer {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.removeButton {
  background-color: #ff5252;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.removeButton:hover {
  background-color: #ff1744;
}
